<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>

        <property name="hbm2ddl.auto">create</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/projectoop</property>

        <!--Replace with your MySQL username and password-->
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">octombrie14</property>


        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.format_sql"> true</property>

        <!-- Map Java Class to DB Entity-->
        <mapping class="app.model.Angajat"/>
        <mapping class="app.model.Taxi"/>
        <mapping class="app.model.SoferActivi"/>
        <mapping class="app.model.Dispatcher"/>
        <mapping class="app.model.Profit"/>

    </session-factory>
</hibernate-configuration>